{% extends 'flashcard/base.html' %}

{% block content %}
    <div class="lg:container">
        <h2 class="text-3xl">Your flash card set</h2>

        {% if your_fcs_list %}
            <div class="grid grid-cols-4 gap-4">
                {% for fcs in your_fcs_list %}
                    <div class="card w-70 bg-base-100 shadow-xl">
                        <div class="card-body">
                            <h2 class="card-title">{{ fcs.title }}</h2>
                            <p>{{ fcs.description }}</p>
                            <div class="card-actions justify-end">
                                <a class="btn btn-primary" href="{% url "flashcard:fcs_detail" fcs.id %}">Learn now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No flashcard set are available.</p>
        {% endif %}
    </div>

{% endblock %}